header {
 display:flex;
 justify-content:center;
  }
  
  
  img {
    display: flex;
    justify-content: left;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-containers {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 3px;
  }
  
  .left-side {
    display: flex;
    justify-content: center;
    border-color:black;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-side {
    display: flex;
    justify-content: center;
    border-color:black;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }