
.toggle {
  border-style: outset;
  width: 400px;
  background-color: rgba(76, 175, 80, 0.15)
}

/* Dark Mode */
.dark {
  background-color:#10392c;
  height: 100vh;
  color: #7a933b;
 
}

.dark li a {
  color: #bebebe;
}

.dark li a:hover {
  background-color: #111;
}

/* Light Mode */
.light {
  background-color: #7a933b;
  color: #10392c;
  height: 100vh;
}

.light li a {
  color: black;
}

.light li a:hover {
  background-color: rgb(29, 128, 210);
}

/* Styling the Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(29, 128, 210);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row {
  margin: 20px;
  display: flex;
}
.col {
  margin: 20px;
}

body {
  background-color:#7a933b;
  font-family: Georgia, 'Times New Roman', T mes, serif;
}

header {
 display:flex;
 justify-content:center;
 color:#260b42;
  }
  
  h2 {
    color:#260b42;
  }
  
  img {
    display: flex;
    justify-content: left;
  }


  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-containers {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 3px;
  }
  
  .left-side {
    display: flex;
    justify-content: center;
    border-color:black;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-side {
    display: flex;
    justify-content: center;
    border-color:black;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
  }